@font-face
{
  font-family: 'Geometria';
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url('../fonts/Geometria.eot');
  src: url('../fonts/Geometria.eot?#iefix') format('embedded-opentype'), url('../fonts/Geometria.woff') format('woff'), url('../fonts/Geometria.ttf') format('truetype');
}
@font-face {
  font-family: 'Thernaly-Regular';
  src: url("../fonts/Thernaly-Regular.otf");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'bahnschrift';
  src: url("../fonts/bahnschrift.ttf");
  font-weight: revert;
  font-style: normal;
  font-display: swap;
}