$white: #545454;
$black: #000;
//$site-color: #a83d57;
$site-color: #cfa189;
$top_menu_color: #314f55;
$site-color2: #f6dfb9;
$slider-text: #535353;
$gray: #F0F0EE;
$light_gray: #eceeef;
$button_catalog: #d72600;
$color_button_by: #ec9413;

$offers-color: #000;
$header_text_color: #3f5053;
$paragraph_text_color: #2d2b27;
$good_desc_color: #545552;