.blog_wrapper{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  article{
    width: 49%;
    border-bottom: 1px solid silver;
    position: relative;
    margin:20px 0 10px 0;
    p{
      line-height: 25px;
      &.data{
        color: $site-color;
        font-weight: bold;
        font-size: 16px;
      }
    }
    a{
      line-height:20px;
      &.next{
        background-color: $site-color;
        padding: 1px 8px;
        color: white;
        text-decoration: none;
        font-size: 10px;
        position: absolute;
        right: 15px;
        bottom: -12px;
      }
    }
    img{
      width: 100%;
    }
  }
  h2{
    margin-top: 20px;
    width: 100%;
  }
}
@media (max-width: 866px) {
  .blog_wrapper {
    article {
      width: 30%;
    }
  }
}
@media (max-width: 680px) {
  .blog_wrapper {
    article {
      width:100%;
    }
  }
}