footer{
  p, h3, a{
    color: #FFFFFF;
    font-size:14px;
  }
  background-color: $site-color;
  margin-top: 30px;
  .footer{
    @include min-max(320px, 1200px, 15px);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    .payment{
      svg{
        width: 30px;
        height: 30px;
        fill: #FFFFFF;
      }
    }
    .contacts{
      width: 40%;
      display: flex;
      justify-content: flex-end;
      .search{
        display: flex;
        form{
          display: flex;
          justify-content: space-between;
          flex-wrap: wrap;
          align-items: center;
          font-size: 14px;
          input{
            background: transparent;
            width: 50px;
            height: 28px;
            border:1px solid transparent;
            border-bottom:1px solid $top_menu_color;
          }
          button{
            border: none;
            background-color: transparent;
          }
          svg {
            width: 40px;
            height: 30px;
            fill: #FFFFFF;
            margin-top: 10px;
          }
        }
      }
      .email, .telephone, .soc{
        display: flex;
        align-items: center;
        margin-left:30px;
        a{
          text-decoration: none;
          font-size:12px;
          color: #FFFFFF;
          &:hover{
            text-decoration:underline;
          }
        }
      }
      .telephone{
        display: none;
      }
      .soc{
        display: none;
        svg{
          width: 20px;
          height: 20px;
          fill: gray;
        }
      }
    }

    .footer_menu{
      width: 60%;
      ul{
        display: flex;
        margin: 10px 0 30px 0;
        li{
          a{
            text-decoration: none;
            color: #FFFFFF;
            padding: 10px 8px;
            font-size:14px;
            &:hover{
              background-color: $site-color;
              color: $top_menu_color;
            }
          }

        }
      }
    }


  }
}
@media(max-width: 905px){
  footer{
      .footer{
        .contacts, .payment, .trans, .footer_menu{
          width: 100%;
          display: flex;
          align-items: center;
          justify-content:center;
          text-align: center;
        }

        .footer_menu{
        ul{
          margin: 0;
          }
        }
        .trans{
          display: flex;
          flex-direction: column;
        }
      }
  }
}
@media(max-width: 557px){
  footer{
    .footer{
      .footer_menu{
        ul{
          li{
            line-height: 30px;
          }
          flex-direction: column;
        }
      }
    }
  }
}