.wrap.content.items_w{
  flex-direction: column;
}
.wrap.content.text{
  flex-direction: column;
}

.goods{
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(4, $product-width);
  gap: 10px;
  padding:10px;
  h1, h2, p, h3{
    width: 100%;
  }
  h3{
    font-size: 16px;
    color: #3f5053;
    margin-bottom: 30px;
    overflow: hidden;
  }


  .item{
    position:relative;
    .new, .sale{
      border: 1px solid $site-color;
      position: absolute;
      padding: 0 10px;
      width: auto;
      top:10px;
      left: 10px;
      color: $top_menu_color;
    }
    img{
      width: 100%;
    }
    .sizes{
      font-size: 12px;
    }
    padding-bottom: 15px;
    a{
      display: flex;
    }
    .price{
      font-family: "bahnschrift";
      font-size: 25px;
      text-align: left;
      width: 100%;
      line-height: 30px;
      color: $price-color;
      margin: 5px 0 0 5px;
      span.through{
        text-decoration: line-through;
        font-size: 18px;
        color: #989898;
      }
      span{
        font-size: 25px;
        color: $price-sale-color;
      }
    }
    h2 a{
      height: auto;
      font-size: 16px;
      text-decoration: none;
      display: block;
      line-height: 20px;
      text-transform: capitalize;

    }
  }


}

.wrap.content.text{
      p{
        margin:15px 0 20px 0;
      }
}







@media screen and (max-width: 1050px) {
  .goods{
    .item {
      .price{
        line-height: 30px;
        span{
          font-size: 15px;
          &.through{
            font-size: 15px;
          }
        }
      }
    }
  }
}



@media screen and (max-width: 938px) {
  .first{
    .item{
      flex-basis: 49%;
    }
  }
}


@media screen and (max-width: 692px) {
  .goods {
    grid-template-columns: repeat(3, $product-width-mini);
  }
  .two_goods, .first_banner{
    width: 100% !important;
  }
}
@media screen and (max-width: 556px) {
  .goods {
    grid-template-columns: repeat(2, $product-width-small);
  }
  .first .item .price span {
    font-size: 26px;
    &.through {
      font-size: 20px;
    }
  }
}