.wrapper-goods-index{
  .goods{
    h2{
      margin-bottom: 25px;
    }
  }
}
.first{
  margin-top: 20px;
  .item{
    p{
      width: 100%;
    }
    padding-bottom: 15px;
    border-bottom: 1px solid silver;
    &:hover{
      ul{
        display:flex;
      }
    }
    a
    {
      img{
        width: 100%;
      }
      div{
        width: 250px;
        height: 241px;
        background-color: #f9f9f9;
        padding: 180px 0 0 30px;
      }
    }
    width: 49%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    ul{
      display: flex;
      li{
        display: flex;
        font-size: 12px;
      }
    }
    .price{
      font-size: 25px;
      color: $site-color;
      text-align: left;
      width: 100%;
      span.through{
        text-decoration: line-through;
        font-size: 18px;
        color: #989898;
      }
      span{
        font-size: 25px;
        color: black;
        font-weight: bold;
      }
    }
    h2 a{
      font-size: 16px;
      text-decoration: none;
      text-transform: capitalize;
      display: block;
    }
  }

  h2{
    color: #3f5053;
    overflow: hidden;
    margin-bottom: 20px;
    width: 100%;
    font-size: 24px;
    font-weight: bold;
  }
  .two_goods {
    display: flex;
    width: 49%;
    justify-content: space-between;
  }
  .first_banner{
    position: relative;
    min-width: 50%;
    max-width: 50%;
    &.slider{
      //padding: 0 !important;
      //margin: 0 !important;
    }
    p{
      position: absolute;
      top: 50px;
      left: 50px;
      font-size: 50px;
      text-transform: uppercase;
      line-height: 55px;
      font-weight: bold;
      color: white;
    }
    h4{
      position: absolute;
      top: 50px;
      right: 50px;
      font-size: 48px;
      font-weight: bold;
    }

    width: 50%;
    img {
      outline: 1px solid #f6dfb9;
      outline-offset: -20px;
      width: 100%;
    }
  }
  .first_banner.slider-bottom{
    img {
      outline: 1px solid #424242;
      outline-offset: -20px;
    }
  }
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media screen and (max-width: 692px) {
  .first {
    .first_banner{
      min-width: 100%;
      max-width: 100%;
      margin-bottom: 20px !important;
      img{
        width: 100%;
      }
    }
  }
}


@media screen and (max-width: 692px) {
  .first{
    .item {
      .price{
        span{
          font-size: 18px;
        }
        span.through{
          font-size: 12px;
        }
      }
    }
  }
}
