.white-popup-img {
  position: relative;
  background: #FFF;
  //padding: 20px;
  width: auto;
  max-width: 1200px;
  margin: 20px auto;
  border-radius:5px;
}
.modal-header-img-window{
  padding: 10px;
}

